

<div class="controller">

    <div class="col">
    
    
    
    <table class="table table-bordered table-responsive" >
    <tr><td>File Id:</td>
    <td>{{h.id}}</td></tr>
    <tr><td>File Name:</td><td>{{h.fname}}</td></tr>
    <tr><td>File PName:</td><td>{{h.fpname}}</td></tr>
    <tr><td>File Desc:</td><td>{{h.fpdesc}}</td> </tr>
    <tr><td>File Created Date:</td><td>{{h.createdDate}}</td></tr>
    <tr><td>File Modified Date:</td><td>{{h.modifiedDate}}</td></tr>
        
    
    
    </table>
    </div>
    
    
    </div>